body {
    min-height: 100%;
    background: rgba(0, 0, 0, .05);
  }
  .btn + .btn  {
    margin-left: 14px;
  }
  .cover-page {
    background: url(../../img/make-your-plan-highlight.png) right center no-repeat;
    text-align: right;
    padding: 150px 0;
    width: 90vw;
    margin: 20px auto;
  }
  * .btn-primary {
    background-color: #08d0d0;
    border-color: #0eb7b7;
  }
  * .btn-primary:hover {
    background-color: #0eb7b7;
    border-color: #0eb7b7;
  }