header {
  padding: 15px 0;
  position: sticky;
  top: 0;
  background: rgba(0, 0, 0, .8);
  color: #fff;
  z-index: 5;
}
.logo span {
  color: aqua;
  font-weight: 800;
}
.nav .btn {
  margin: 0 0 0 45px;
}
body {
  min-height: 100%;
  background: rgba(0, 0, 0, .05);
}
.cover-page {
  background: url(./img/make-your-plan-highlight.png) right center no-repeat;
  /*color: #fff;*/
  text-align: right;
  padding: 150px 0;
  width: 70vw;
  margin: 80px auto;
}

footer {
  padding: 15px 0;
  background: rgba(0, 0, 0, .8);
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}